.mainRow{
flex-direction: row;
display: flex;


}
.firstCol{
    flex-direction: column;
    display: flex;
    align-items:flex-start;
    padding-left: 129px;
    
    
    
    



}
.type{
    display: flex;
    flex-direction: column;
    
  
    
    
}

.typ{
    margin-top: -20px;
}
.types{
    font-weight: 700;
    font-size: 24px;
    font-family: sans-serif;
}
.types1{
    font-weight: 400;
    font-size: 24px;
    font-family: sans-serif;

}
.pokeType{
    
    justify-content: center;
    background-color: #E8E8E8;
    text-align: center;
    width: 406px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 36px;
    border: 1px solid #000000;
    border-radius: 10px;
    
    




}

.types1{
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
   flex-direction: row;
    

    
    
}
.types1 li{
    margin-right: 10px;
    margin-top: -20px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 19px;
    padding-right: 19px;
    border: 0px;
    font-family: sans-serif;
    border-radius: 10px;
}
.pokepic{
    height: 400px;
    width: 400px;
    
    top: 165px;
    left: 129px;
    border: 4px;
    border-color: black;
    border-style: solid;

}
.arrow-container{
    margin-left: 25px;
    margin-top: 660px;
    position: fixed;
    display: flex;
    justify-content: center;
    
    
    
    
}

.arrow-button{
    background-color: #E8E8E8;
    color: black;
    border: none;
    border-radius: 10px;
    width: 40px;
    height: 69px;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
    
}
.arrow-button-left{
    margin-right: 43px;
    width: 150px;
    border-radius: 8px;
    border: 0px;

}

.arrow-button-right{
    width: 150px;
    border-radius: 8px;
    border: 0px;
}
.arrow-container button:hover{
    background-color: #a0a0a0;
  transition: background-color ease 250ms;
}
.stats{
    list-style-type: none;
    margin-left: 100px;
    background-color: #E8E8E8;
    padding-top: 32px;
    padding-bottomdada: 95px;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 400;
    overflow: auto;
    padding-leftadfa: 32px;
    width: 500px;
    height: 500px;
}
.statspanel{
    padding-right: 30px;
}
.stats li{
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 400;

}
.secondCol{
    margin-left: 900px;
    margin-top: -620px
}
.infoandmoves{
    display: flex;
    flex-direction: row;
    
    
    margin-left: 180px; 
    margin-top: 60px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    

}
.firstbutton{
    margin-right: 40px;
}
.inf{
    background-color: #7CFF79;
    
    width: 173px;
    height: 69px;
    border-radius: 10px;
    font-size: 36px;
    border: 0px;
    
}
.info{
    margin-left: 320px;
}

.moves{
    
    width: 173px;
    height: 69px;
    font-size: 36px;
    border-radius: 10px;
    border: 0px;

}